Hi, I'm Rosa.  Nice to meet you.  Here's how this works.  If you want to store your password for Amazon for example, type "set password for Amazon", or just "set Amazon" for short.  I'll text you back a link to store it securely.  To get that password anytime later, type "get Amazon".
