Hi, welcome to ForgotPW!

If you want to set a password for say Amazon, you can tell me "Set password for Amazon", or just "Set Amazon" for short.

To get a password, you can say "Get password for Amazon", or "Get Amazon" for short.

Just say "menu" at any time to hear more things you can do.
